[2020-05-22 23:37] zorbyte opened #1 "CLI"
The CLI should be able to speak to the database to map the data in the blockchain to a simplistic url.

[2020-05-22 23:44] t8 opened #2 "CLI - publish"

[2020-05-22 23:53] t8 opened #3 "Site - Featured packages/trending"

[2020-05-22 23:55] t8 opened #4 "Site - *Gallery* to view/search full registry"

[2020-05-22 23:56] t8 opened #5 "General repository automation with GH actions"
Automation would primarily focus on testing the CLI, deploying the CLI when pushed to master, and deploying the API to our servers.

[2020-05-22 23:56] t8 opened #6 "Figure out DB"

[2020-05-22 23:57] t8 opened #7 "Minimize cost of everything"

[2020-05-22 23:59] t8 opened #8 "Site - Design"

[2020-05-23 00:00] t8 opened #9 "Site - Documentation"

[2020-05-23 00:07] t8 opened #10 "CLI - Generate authorization key for key.txt"

[2020-05-23 15:15] t8 opened #12 "Site - Refactor to nest.land"

[2020-05-23 21:36] t8 opened #13 "Create a Discord to allow for the growth of a community"

[2020-05-24 05:28] t8 opened #14 "Implement Vercel"

[2020-05-25 03:47] t8 opened #15 "Design a landing page until release"

[2020-05-25 04:28] t8 opened #16 "Storage - Implement serverless functions in Vercel"

[2020-05-26 00:31] t8 opened #17 "Site idea - Subtle dinosaur footprints somewhere"

[2020-05-26 00:32] t8 opened #18 "Site - Fix current card design"

[2020-05-26 00:51] t8 opened #19 "Implement Carbon Ads to raise funds for the transaction fees of uploading to the permaweb"

[2020-05-26 00:58] t8 opened #20 "Implement Google Analytics or something similar to gather insights about site visitors and demographics"

[2020-05-28 06:04] t8 opened #21 "Implement Vercel test pooling"

[2020-05-28 20:47] #19 closed, assigned to t8

[2020-05-29 17:23] #16 closed, assigned to zorbyte

[2020-05-29 17:26] #13 closed, assigned to t8

[2020-05-29 17:50] t8 opened #23 "API - See ROADMAP.md"

[2020-05-29 17:53] #20 closed, assigned to t8

[2020-05-29 17:53] #17 closed, assigned to t8

[2020-05-29 17:53] #18 closed, assigned to t8

[2020-05-29 17:54] #12 closed, assigned to t8

[2020-05-29 17:54] #6 closed, assigned to nobody

[2020-05-29 17:54] #3 closed, assigned to t8

[2020-05-29 17:54] #15 closed, assigned to t8

[2020-05-29 17:54] #14 closed, assigned to nobody

[2020-05-30 05:04] #8 closed, assigned to t8

[2020-06-02 00:56] #23 closed, assigned to zorbyte

[2020-06-02 00:56] #9 closed, assigned to t8

[2020-06-02 00:56] #4 closed, assigned to t8

[2020-06-02 17:21] t8 opened #25 "Build site API key generator for the 0.1.0 API"

[2020-06-03 01:32] t8 opened #26 "API - Generate API key"

[2020-06-03 01:33] #25 closed, assigned to t8

[2020-06-03 05:06] #21 closed, assigned to nobody

[2020-06-03 05:07] #7 closed, assigned to nobody

[2020-06-04 00:08] t8 opened #28 "Re-develop serverless functions in Deno rather than Node & implement a function to retrieve gallery information from the API"

[2020-06-04 22:47] t8 opened #29 "Possible idea: Save the newly created API key to a cookie on the website so that the user won't lose it if they refresh the site"

[2020-06-05 06:58] #28 closed, assigned to t8

[2020-06-05 06:59] tbaumer22 opened #30 "Site - Rebuild Serverless API in Deno"

[2020-06-05 07:00] t8 opened #31 "Site - Document Bebbington's CLI feature addition"

[2020-06-05 20:05] #31 closed, assigned to t8

[2020-06-06 18:35] #26 closed, assigned to zorbyte

[2020-06-06 18:35] t8 opened #33 "Site - FAQ"

[2020-06-06 20:35] justablob opened #34 "API - Implement package name blacklist"
There should be a way to blacklist some package names, potentially using a list of regexes.

[2020-06-07 09:54] zorbyte opened #36 "Make API keys be generated on request, instead of intrinsic."
https://github.com/nestlandofficial/nest.land/blob/29b7f201197be3e03567be6f2b24da21927048ef/api/src/registars/auth.ts#L19-L19

[2020-06-07 19:03] #34 closed, assigned to justablob

[2020-06-07 23:36] #36 closed, assigned to nobody

[2020-06-07 23:55] zorbyte opened #45 "MVP 2 - Major refactors"
MVP 2's design focus will be for the standardisation of technologies, modularity and service segregation.

Key Concepts and/or Goals:
  - [ ] Package CDN:
     - Support Vanilla JS with TypeScript Definitions through the `X-TypeScript-Types`
       header
  - [ ] API:
     - Dockerise this, setup automatic deployments to server through GitHub actions
     - Allow custom READMEs. This applies to bo

[2020-06-09 00:32] t8 opened #46 "Rewrite API in Node"

[2020-06-09 00:33] t8 opened #47 "Site - Create a package detail page"

[2020-06-09 00:35] #29 closed, assigned to t8

[2020-06-09 04:37] t8 opened #48 "Site - Add query parameters in the URL of the gallery from the search function"

[2020-06-09 19:28] #46 closed, assigned to justablob

[2020-06-10 00:58] #33 closed, assigned to t8

[2020-06-10 22:33] t8 opened #49 "CLI - `eggs update`"

[2020-06-10 22:42] #48 closed, assigned to t8

[2020-06-11 14:27] t8 opened #51 "Site - Fully document CLI"

[2020-06-11 15:31] #10 closed, assigned to t8

[2020-06-11 20:20] #47 closed, assigned to t8

[2020-06-11 20:20] #2 closed, assigned to t8

[2020-06-12 01:38] zorbyte opened #213 "[DISCUSSION] CLI + Web: Keep egg configuration away from source."
I noticed the employment of an `egg.json` file with the CLI. This violates the Deno philosophy of making the source code independent of a package manager. I propose we use a `.eggignore` file to ignore files for upload and move the configuration of the package to the website, with the option of initial configuration being present on the first publish with the CLI as well.

[2020-06-12 14:59] #49 closed, assigned to ebebbington

[2020-06-12 20:39] #51 closed, assigned to t8

[2020-06-13 03:00] zorbyte opened #55 "Website UX and styling fixes"
Checklist:
 - [x] Make links underlined and slightly bolder.
 - [ ] Use separate pages for docs and FAQ, or integrate them both into a docs page.
       Example: ![Boundary-supply-FAQ-1-1160x688](https://user-images.githubusercontent.com/39759284/84558371-d1271600-ad75-11ea-8607-62cb80d287a6.png)

[2020-06-13 13:59] #1 closed, assigned to zorbyte

[2020-06-13 19:13] oganexon opened #58 "Including some files with /* result in `[ERROR:publish] Something broke... ` + images don't show up"
Hi, just published my first module https://nest.land/package/remove-forever

My config file is the following:
[code]

Adding `images/*` throws an error but not with `lib/*`.
![image](https://user-images.githubusercontent.com/52361520/84577196-854a9000-adba-11ea-8c6c-e490fd6442c4.png)

Github: https://github.com/oganexon/deno-remove-forever

And images don't show on the nest page but I believe it i

[2020-06-13 20:02] justablob commented on #58
Hey! Thank you for reporting this issue. We looked into it and it turns out that this is caused by a limit on one of our database columns which we forgot to adjust to fit production mode. I have modified the affected columns to support the larger data which is stored in production.

[2020-06-13 22:07] #58 closed

[2020-06-14 05:02] tbaumer22 opened #65 "[FEATURE] CLI test publishing"
**Is your feature request related to a problem? If so, please describe.**
In order for users to test their packages with the CLI, they currently have to publish legitimate versions of their package to the registry. This is an issue, as it can be confusing to both the developer and the user. In addition, a *test* version of a package could be unstable

**Describe the solution you'd like**
Add suppo

[2020-06-14 05:06] tbaumer22 opened #66 "[FEATURE] Simplify the command to install in the docs"
**Is your feature request related to a problem? If so, please describe.**
Currently, the CLI command in the documentation consists of multiple `--allow-` arguments as the provided example. To make it easier for the user, it would be nice to simplify and/or shorten this command's arguments.

**Describe the solution you'd like**
Change the command to install nest.land's CLI to use -a

[2020-06-14 05:11] tbaumer22 opened #67 "[BUG] Installation URL not accurate for any file other than mod.ts"
**Describe the bug**
If a user were to use an "index" file other than `mod.ts`, the registry would not update this information.

**To Reproduce**
Publish a package to the registry that does not use `mod.ts` as the main script in the project root.

**Expected behavior**
The index file should be passed through the API to allow the frontend to fetch and set it dynamically.

**Screenshots**
![image](h

[2020-06-14 05:14] tbaumer22 commented on #30
Planning to remove the serverless API altogether in MVP 2

[2020-06-14 05:14] #30 closed

[2020-06-14 07:42] zorbyte commented on #5
It should also deploy to our servers?

[2020-06-14 08:19] zorbyte commented on #67
This issue is likely related to this. https://github.com/nestlandofficial/nest.land/pull/68/files#diff-158ea6b3ac0cffb5f82d6b92e71bdaa8R328-R330

[2020-06-14 09:04] divy-work opened #69 "[FEATURE] Use previous configuration for blank inputs"
**Is your feature request related to a problem? If so, please describe.**
Instead of forcing the user to rewrite the whole eggs.json again with the `init` cmd, add an option for them to use the previous configuration too.

**Describe the solution you'd like**
If an option is left blank in the terminal, it will be taken from the previous configuration.

**Describe alternatives you've considered**
N

[2020-06-14 09:21] oganexon opened #70 "[FEATURE] Reserved package names for testing purposes"
**Is your feature request related to a problem? If so, please describe.**
If someone in the team wants to publish a package for testing purposes, everyone will see it in the gallery.
This is not the same issue as #65, here we want to publish a package and not test the publishing feature.

**Describe the solution you'd like**
Reserved package names like `eggs-testing-package-56` or random string th

[2020-06-14 12:58] divy-work opened #73 "FIX(mobile): Show package details before the README"
In mobile, the package details are shown after the README which is not sensible.

Priority: Low

[2020-06-14 15:26] #73 closed

[2020-06-14 18:44] justablob commented on #67
I'd say we should make a mod.ts file mandatory, as it seems to already be a standard in the Deno community.

[2020-06-14 18:45] justablob commented on #70
How about unlisted packages, would that be a valid alternative?

[2020-06-14 18:57] oganexon commented on #70
It's equivalent, you just have to be able to access them on the website.

[2020-06-14 20:34] justablob commented on #70
Okay, i think we should work on this. I'll look into this a little more tomorrow.

[2020-06-14 20:35] justablob commented on #65
Could you maybe describe what this would be used for, because i'm not quite getting it. Would it "pretend" to publish a package but never actually do it?

[2020-06-15 02:59] zorbyte commented on #67
It's a de facto standard. We shouldn't.

[2020-06-15 05:04] tbaumer22 opened #76 "[BUG] Latest package version may not actually be the newest"
**Describe the bug**
As experienced in the Mandarine.ts framework, the "latest" version appeared on the site as `1.0.1`, while the actual latest version in semver format is `1.1.0`.

**To Reproduce**
Visit [Mandarine.ts on nest.land](https://nest.land/package/Mandarine.TS)

**Expected behavior**
The expected behavior would be `1.1.0` appearing as the latest version on the site.

**Desktop (please

[2020-06-15 05:31] justablob commented on #76
So we'd just have to add a check to the CLI to see if the current version is younger than all other versions. Won't be too hard.

[2020-06-15 06:15] divy-work commented on #67
It's not an official standard though, this should be considered as it might drive away people who have their project working with another index file, they would not want to change it.

[2020-06-15 14:46] #69 closed

[2020-06-15 14:49] tbaumer22 commented on #76
@justablob or I could just do a sort on the frontend to determine this. The order of the array returns backwards anyway, so the field to select a version is the wrong order, which I am already planning to fix.

[2020-06-15 15:26] divy-work opened #78 "[FEATURE] `eggs upgrade` to upgrade to the latest verison of eggs cli"
**Is your feature request related to a problem? If so, please describe.**
N/A

**Describe the solution you'd like**
[code]
Notice the `-f` to force install the new version.

**Describe alternatives you've considered**
N/A

**Additional context**
Simply run the above command as Deno.run. Could I be assigned to this?

[2020-06-15 15:35] tbaumer22 commented on #78
@divy-work Sure, you’re welcome to work on this if you’d like.

[2020-06-15 15:41] oganexon opened #79 "[DISCUSSION] modular packages"
In addition to the issue #67, we have to take into account another aspect.

Suppose that you want to use a small subset of a module. With the current process, you need to import everything since only `mod.ts` / a single file import is possible.

It's an issue because many packages won't be published here for this reason. Furthermore, it adds:
 -  unnecessary long compile time
 -  unnecessary huge

[2020-06-15 16:44] tbaumer22 commented on #79
Thanks for starting this discussion. I should preface this with the fact that any files you include in the `files` variable in `egg.json` are accessible via the CDN. You can currently navigate to these files just by copying the relative route used in your repository and appending it to the url of the package in the CDN.

Nest.land does not bundle these packages in any way, so importing individual

[2020-06-16 02:00] zorbyte commented on #67
Why is this marked as in valid?

[2020-06-16 02:05] tbaumer22 commented on #67
My apologies. I marked this issue as invalid because the website was showing invalid information. I must have misunderstood the meaning of this tag.

[2020-06-16 03:43] #66 closed

[2020-06-16 04:18] divy-work commented on #79
:+1: Let the user optionally specify the index file at `init`

[2020-06-16 13:13] fakoua commented on #45
I would suggest adding Category for a package (categories and keywords)

[2020-06-16 14:45] tbaumer22 commented on #45
@fakoua this is an interesting idea. What would some examples of categories be?

[2020-06-16 16:27] #76 closed

[2020-06-16 23:41] fakoua commented on #45
@tbaumer22 categories could be: Web Framework, Command lines, utilities, string manipulation, User Interface, Images, Console, ...
And keywords comma separated.

[2020-06-17 01:10] andreespirela opened #85 "[FEATURE] Fragment identifier to automatically choose version"
**Is your feature request related to a problem? If so, please describe.**
There should be the option to choose automatically & programmatically the version from the URL. So https://nest.land/package/Mandarine.TS#1.1.0 would automatically select 1.1.0 in the select box.

**Describe the solution you'd like**
Just some small javascript with any type of library or framework (jquery, react, angular...)

[2020-06-17 01:23] andreespirela opened #86 "[BUG] 504 Gateway Time-out"
**Describe the bug**
Error 504 Gateway Time-out is thrown when running app.

**To Reproduce**
[code]

**Screenshots**
[code]
![Screen Shot 2020-06-16 at 9 20 30 PM](https://user-images.githubusercontent.com/60560109/84844051-84626a00-b017-11ea-8989-7d5da0c65177.png)

If applicable, add screenshots to help explain your problem.

**Additional context**
When running a mandarine-powered application us

[2020-06-17 01:39] tbaumer22 commented on #86
Thanks for reaching out! Our discussion in Discord should fix your problem. I'm going to close this issue unless it persists after testing.

[2020-06-17 01:39] #86 closed

[2020-06-17 01:41] tbaumer22 commented on #86
For anyone having a similar issue, this is likely a problem with the files you include in your `egg.json` file. Make sure to double check your globbing string(s).

[2020-06-17 19:22] oganexon opened #88 "[BUG] Unstable versions cause bugs on the website"
**Describe the bug**
An unstable module is not installable and no version is shown by default.

**To Reproduce**
Go to https://nest.land/package/eggs-update-handler

**Expected behavior**
If a module is unstable, the last stable version should show and if not applicable, the last unstable.
Module URL should show correctly.

**Screenshots**
![image](https://user-images.githubusercontent.com/5236152

[2020-06-18 02:00] tbaumer22 commented on #88
This is interesting. Is it a possibility that you've never published a stable version to the registry? This is the only known way for this bug to appear.

In that case, I can introduce a fix to the UI where if no stable version is detected, the UI defaults to the latest version. How does this sound?

[2020-06-18 02:01] tbaumer22 commented on #85
This is a great idea. I'll try to find some time to work on implementing this for a future release!

[2020-06-18 06:17] oganexon commented on #88
It is rare for a module to be unstable for long periods of time, it was just a test
I think that's what makes you do, display the latest unstable version anyway, even if there is no stable version.

[2020-06-18 08:07] asos-craigmorten opened #89 "[FEATURE] Scope permissions for eggs CLI installation"
**Is your feature request related to a problem? If so, please describe.**

Both the GitHub readme and https://nest.land website suggest installation with a command similar to:

[code]

The use of the heavily permissive `-A` "allow all" flag is somewhat unsettling (though tbh at least it is called out with Deno, in Node we wouldn't even be asked!)

**Describe the solution you'd like**

I can apprec

[2020-06-18 10:08] oganexon commented on #76
Has this issue been fixed in the backend?

Because with the `/package` endpoint it still gives the wrong version
[code]

[2020-06-18 13:55] tbaumer22 commented on #88
Alright. I'll get to work on a fix when I can.

[2020-06-18 13:57] tbaumer22 commented on #89
This is a great idea. Though I'm almost positive that `eggs` requires all permissions, we can definitely write up some documentation as to why these permissions are necessary.

[2020-06-18 16:30] MartonDev opened #91 "[FEATURE] Add `.eggignore` file and allow users to chose between the ignore file or the `files` field in egg.json"
**Is your feature request related to a problem? If so, please describe.**
Right now the nest.land CLI publishes only the files given in the `files` field, in `egg.json`. Sometimes people have a lot of files imported from various directories and it's hard to keep track of all of them.

Also if you create a new file it is extra time to add it to the `files` field.

**Describe the solution you'd like

[2020-06-18 16:41] MartonDev commented on #55
Will start working on this

[2020-06-18 19:59] asos-craigmorten opened #93 "[BUG] Unable to publish package"
**Describe the bug**

Publishing of package results in the log `[ERROR:publish] Something broke...`.

**To Reproduce**

Experienced locally and in pipeline. See https://github.com/asos-craigmorten/superdeno/blob/main/.github/workflows/publish-egg.yml

Namely:

[code]

where `NEST_LAND_KEY` is my API key.

See https://github.com/asos-craigmorten/superdeno/runs/785754213?check_suite_focus=true for e

[2020-06-18 20:50] justablob commented on #93
Hey there! Thanks for reporting this. In a few hours we will be releasing an update to the eggs CLI that makes errors more specific, instead of the, quite frankly useless "Something broke..." we had until now. It'll include the HTTP status code. This will allow us to see where exactly the problem is. Would you be fine with waiting for that release, then re-publish and post the error code you get?

[2020-06-18 22:28] tbaumer22 commented on #79
This has been implemented! You can specify your index file in `egg.json` with the `"entry"` field now.

[2020-06-18 22:28] #79 closed

[2020-06-18 22:29] tbaumer22 commented on #65
Added the unlisted feature in `0.1.3`. Closing this issue now, as it allows for this functionality.

[2020-06-18 22:29] #65 closed

[2020-06-18 22:35] tbaumer22 commented on #67
We've implemented an `"entry"` file for `0.1.3`, but this is not added in the frontend yet. This addition will be coming soon!

[2020-06-18 22:36] tbaumer22 commented on #70
Implemented unlisted packages that do not display in gallery in `0.1.3`.

[2020-06-18 22:36] #70 closed

[2020-06-18 22:56] asos-craigmorten commented on #93
Issue resolved in `0.1.3`, published without error - https://nest.land/package/superdeno.

Thanks!

[2020-06-18 22:56] #93 closed

[2020-06-19 14:06] tbaumer22 opened #101 "[DISCUSSION] Remove egg.json in favor of strictly in-CLI configuration"
We have received feedback from several people against the idea of the `egg.json` file we currently have implemented. This discussion is to determine the pros and cons of both.

In addition, we'd like to come to a general consensus between the authors, contributors, and package developers on this topic.

[2020-06-19 14:09] #101 closed

[2020-06-19 18:17] maximousblk opened #102 "new badge"
nothing critical but the badge doesn't look that good.

I have made some examples that too are not very good but can be a starting point.

examples: [figma file](https://www.figma.com/file/BN2w0nSbJIxeSxP2PjwW9r/nest)

[2020-06-19 18:21] oganexon commented on #102
I like it a lot!
It's true that on the current badge the text is not well rendered.

![image](https://user-images.githubusercontent.com/52361520/85168225-5163e480-b26a-11ea-9346-0cef4f8e67e4.png)

@tbaumer22 Do you see the badge like that, too?

[2020-06-19 18:28] tbaumer22 commented on #102
@maximousblk I love like those mockups. The current design is inspired by Bower's badge, although I am not against switching to one of the choices you made at all.
![image](https://user-images.githubusercontent.com/20846869/85168929-0da4b700-b239-11ea-937d-8ba232d7167d.png)

@oganexon this is how the badge renders for me:
![image](https://user-images.githubusercontent.com/20846869/85168867-f82f8d0

[2020-06-19 18:31] oganexon commented on #102
@tbaumer22 I get the same result on Firefox and Chrome, this is strange
I'm on Windows btw

[2020-06-19 18:31] maximousblk commented on #102
@tbaumer22 should I open a PR?

If yes which one should I include and if there's any thing to change?

[2020-06-19 18:37] tbaumer22 commented on #102
@oganexon that is really strange. I'm on a Mac. Safari renders fine for me as well. An issue could be my font selection. Perhaps you don't have that installed. A potential fix would be for us to export the text as curves in the SVG so that font rendering isn't an issue. I was viewing it from [https://nest.land/badge.svg](https://nest.land/badge.svg)

@maximousblk I'm gravitating towards either the

[2020-06-19 18:40] maximousblk commented on #102
@oganexon I think the effect is caused by the raster elements included in the SVG

![image](https://user-images.githubusercontent.com/28438021/85169989-59338100-b28a-11ea-90b0-9ffa817e0b60.png)

[2020-06-19 19:36] #102 closed

[2020-06-20 11:16] maximousblk opened #104 "[proposal] integrate a package manager into eggs."
#### Inspiration

I came across [Trex](https://github.com/crewdevio/Trex) and was wondering if nest could have a similar implementation natively.
As nest is already a growing registry for deno package it would be great to have a package manager accompanying this registry.

## Pitch

One thing we can all agree on is we don't want another npm. And for that the package manager should not do anything

[2020-06-20 11:22] oganexon commented on #104
[code]

This part is already in progress ;)

[code]
![image](https://user-images.githubusercontent.com/52361520/85200588-0644e280-b2f9-11ea-91fc-267f9cb35e46.png)

[2020-06-20 12:01] maximousblk commented on #91
Can we use `deps.ts` as an alternative to egg.json?

like just export an object named `egg` which eggs could import and work with.

example:

[code]

[2020-06-20 12:04] oganexon opened #105 "[FIX] "Unable to find any packages" on the website for a brief time"
**Describe the bug**
It's a low priority bug.
When loading the gallery, for a brief period of time the message "Unable to find any packages" appear even if packages are found.

**To Reproduce**
https://nest.land/gallery

**Expected behavior**
"Loading packages" message should stay longer

**Screenshots**
![nest](https://user-images.githubusercontent.com/52361520/85201276-7144e800-b2fe-11ea-86ea-e6

[2020-06-20 12:07] oganexon opened #106 "[FEATURE] Copy module URL when clicked"
**Is your feature request related to a problem? If so, please describe.**
Again, a low priority feature.
I'd like to be able to click on the URL and have it copied into my clipboard.

**Describe the solution you'd like**
- just as soon as we click on the URL
- or a button next to the URL to copy the string

**Describe alternatives you've considered**
N/A

[2020-06-20 12:09] maximousblk opened #107 "[PROPOSAL] move egg.json to deps.ts"
**Is your feature request related to a problem? If so, please describe.**

the problem is another package.json in the form of egg.json

**Describe the solution you'd like**

Use `deps.ts` as an alternative to egg.json?

like just export an object named `egg` which eggs could import and work with.

example:

[code]

this would also be good in case someone needs this metadata in their application or

[2020-06-20 12:09] maximousblk opened #215 "[PROPOSAL] Use entry file instead of egg.json"
**Is your feature request related to a problem? If so, please describe.**

the problem is another package.json in the form of egg.json

**Describe the solution you'd like**

Use `deps.ts` as an alternative to egg.json?

like just export an object named `egg` which eggs could import and work with.

example:

[code]

this would also be good in case someone needs this metadata in their application or

[2020-06-20 13:19] #55 closed

[2020-06-20 13:46] tbaumer22 commented on #104
This is a great idea. I like the idea of working with deps.ts to keep things organized, though it may become controversial. At this point in time, I don't see an easy solution to this other than scanning the user's entire project for import statements.

I think that your `eggs audit` idea would be golden, and I have an idea for something we could add on top of that. Let's say that a package is hos

[2020-06-20 13:48] tbaumer22 commented on #107
This is actually a creative idea that we hadn't yet considered. Because users' packages are already configured with the concept of `egg.json`, we could make this an alternative solution that would eliminate the need for a separate file. I'll be curious to see what @justablob and @zorbyte think.

[2020-06-20 13:49] tbaumer22 commented on #106
This would be very useful. I'll add it to my todo list.

[2020-06-20 13:50] tbaumer22 commented on #105
This issue occurs because of the way I wrote the gallery loading order. I'll see if I can find a solution to this. I wrote this code in the middle of the night, so hopefully I'll be able to think clearer!

[2020-06-20 13:51] tbaumer22 commented on #45
@fakoua we'll look into adding this feature sometime in the future. It should definitely help with navigation through the packages!

[2020-06-20 16:21] oganexon commented on #104
I think the add command is really secondary, it was a necessity for node but for deno it's superfluous. Adding a module only takes a copy and paste

Typing `eggs add https://deno.land/x/bcrypt@v0.2.0/mod.ts`
Or `import * from "https://deno.land/x/bcrypt@v0.2.0/mod.ts"` is the same

@maximousblk I'm missing something.

[2020-06-20 16:27] maximousblk commented on #104
while that is true, doing `eggs add bcrypt, fs, colors, https` is easier that copy and pasting each URL from their documentation page or typing it out.

main feature of the package manager would be upgrading the dependencies and hopefully auditing.

[2020-06-20 16:34] oganexon commented on #104
Ok then 😉
Upgrading the dependencies comes with the next release. (even if the command was there before, it has been improved)

[2020-06-20 16:53] #78 closed

[2020-06-20 17:11] tbaumer22 opened #112 "[FEATURE] Automate testing for the CLI"
**Describe the solution you'd like**
For scalability, we need to develop and automate the testing process for new features or fixes added in the CLI. The testing would be done on a command-by-command basis, and any new commands added will need to add and pass his/her/their tests.

To do this, we need to create a GitHub Actions workflow for this purpose, in addition to adding necessary test files i

[2020-06-20 18:47] MartonDev opened #113 "[FEATURE] Auto-formatting option on publish command"
**Is your feature request related to a problem? If so, please describe.**
If you want to follow the Deno philosophy, you need to format your code. Typing two separate commands to format and publish can be annoying.

**Describe the solution you'd like**
Add an option to the config that allows users to auto-format, when running the publish command. `Eggs` would first execute `deno fmt` before publis

[2020-06-20 19:19] tbaumer22 commented on #113
This is a great idea. Would the format option only format files included in `egg.json` though?

[2020-06-20 19:37] MartonDev commented on #113
Yes that is what I don't know, but probably only the files included in egg.json, because the others don't get published anyways, so why formate

[2020-06-22 04:03] divy-work commented on #112
@tbaumer22 I'll be interested in implementing this. (For testing the `publish` we could have a sample unlisted package.)

[2020-06-22 04:10] tbaumer22 commented on #112
@divy-work sounds good to me, thanks mate! For future reference, we'll want to target the `deploy` branch for this.

[2020-06-22 07:21] divy-work commented on #112
@tbaumer22 Adding tests for `init` will not be possible since it needs user input. Other commands have been covered in #117

[2020-06-22 08:37] Yamboy1 opened #118 "Remove No README warning when there is a REAMDME.md"
**Is your feature request related to a problem? If so, please describe.**
When i ran eggs publish, it said `No README found at project root`, although I do have a README.md, this should probably be covered

**Describe the solution you'd like**
README.md autodetection supported as well as just README

**Describe alternatives you've considered**
N/A

**Additional context**
GitHub's default readme fi

[2020-06-22 09:15] oganexon commented on #118
@Yamboy1 on which version of eggs are you? This problem was fixed after v0.1

[2020-06-22 10:03] Yamboy1 commented on #118
![image](https://user-images.githubusercontent.com/37413895/85275262-31cff480-b4d4-11ea-8520-cdafd90f8475.png)
 I'm on v0.1.2, what version do i need?

[2020-06-22 10:10] zorbyte commented on #118
This is false, we do not support any other files except ones ending with the .md extension. We should fix this.

[2020-06-22 10:13] oganexon commented on #118
I'm sorry if I misunderstood the issue
But you said README.md is undetected? That shouldn't happen

[2020-06-22 10:17] zorbyte commented on #118
Behaviour is also reflected by website it seems. https://i.reupload.gg/T7W8A0WMR.png

[2020-06-22 10:17] MartonDev commented on #118
I remember this happening with me too, but it uploaded the README anyways, it just logged that no REAME was found. Try adding it to the files field manually, if you use globalization, like this:
[code]

[2020-06-22 10:21] Yamboy1 commented on #118
Yeah, it did work on the website, so I assume it was just an error in the warning

[2020-06-22 14:00] tbaumer22 opened #120 "[FEATURE] Testimonial section"
**Describe the solution you'd like**
A testimonial section on the homepage would be beneficial for users to see who recommends nest.land. Note: The users we feature here would not be random users; it would feature people prominent for something.

**Additional context**
@maximousblk suggested something similar to this:
![image](https://user-images.githubusercontent.com/20846869/85296098-df102180-b4

[2020-06-22 14:03] tbaumer22 commented on #120
I'll plan to work on this when I get the opportunity, unless somebody else would like to do this.

[2020-06-22 14:20] MartonDev commented on #120
If you don't have time, I'll work on it just let me know

[2020-06-22 14:22] tbaumer22 commented on #120
It may be this weekend when I get to it because I'm working this week. If you think you can get it done before then, feel free.

[2020-06-22 14:42] MartonDev opened #121 "Community-maintained modules"
**Is your feature request related to a problem? If so, please describe.**
Currently Nest.land lacks major package support. It is still in development, so that's perfectly fine, but in order to gain users, the project just needs to have the essential/most popular packages for Deno

**Describe the solution you'd like**
This is the point when *Community-maintained* packages come in. All Nest.land use

[2020-06-22 14:52] MartonDev commented on #121
Screenshots:
![ss1](https://user-images.githubusercontent.com/30638105/85301860-ad1bb100-b4a8-11ea-88b0-c5260f256936.png)
![ss2](https://user-images.githubusercontent.com/30638105/85301862-adb44780-b4a8-11ea-8b6a-874e7abc768f.png)

[2020-06-22 15:40] oganexon commented on #121
That's a great idea.
We just need to think about how to limit abuse and especially prevent the publication of false versions with potentially viruses and malware.

[2020-06-22 15:43] MartonDev commented on #121
For this, the best solution would probably be, that these type of packages would require manual review after the user requested a publish.

[2020-06-22 15:43] tbaumer22 commented on #121
Perhaps there would be a way to scan the corresponding repository for this package and compare the files of a given branch? This way, if the files don't exactly match what is in source control, we know that they have tampered with the package.

[2020-06-22 15:45] MartonDev commented on #121
But what if they publish an older version?

[2020-06-22 15:54] tbaumer22 commented on #121
We could compare by release version?

[2020-06-22 16:05] MartonDev commented on #121
Hmm...
We'll definitely have to write a clear documentation for this feature

[2020-06-22 20:26] Yamboy1 commented on #118
Updated title

[2020-06-23 02:54] tbaumer22 commented on #121
@zorbyte I'd love to hear your opinion on this. The more that I think about it, the more appealing it seems. We'll just have to figure out an innovative and secure way to implement it.

[2020-06-23 13:24] #85 closed

[2020-06-23 16:54] oganexon opened #127 "[BUG] eggs init: generates yaml when setting format is json"
**Describe the bug**
When I enter "json" with the init command it generates yaml

**Expected behavior**
Even if the file extension is json, the file content isn't

**Screenshots**
![json](https://user-images.githubusercontent.com/52361520/85431991-95186000-b582-11ea-96a3-ffbbafc8975d.gif)

**Desktop (please complete the following information):**
 - OS: Windows
 - nest.land Version 0.1.4

**Additio

[2020-06-24 02:11] divy-work commented on #127
@oganexon Definitely a bug. Will come up with a fix today.

[2020-06-24 04:37] divy-work commented on #127
Including fix in #117

[2020-06-24 13:16] #112 closed

[2020-06-24 13:16] #127 closed

[2020-06-24 22:42] tbaumer22 opened #130 "[DISCUSSION] Mandate test functions into all commands of the CLI"
I'd like to open a discussion here to allow for peoples' opinions on whether or not to require test functions on the CLI. This would mean that for each new command and all existing commands, a corresponding test would have to be made. This way, any additions or deletions to the commands would be able to be tested automatically before allowing a PR to merge.

What is your opinion on this?

[2020-06-24 22:42] t8 opened #214 "[DISCUSSION] Mandate test functions in all commands of the CLI"
I'd like to open a discussion here to allow for peoples' opinions on whether or not to require test functions on the CLI. This would mean that for each new command and all existing commands, a corresponding test would have to be made. This way, any additions or deletions to the commands would be able to be tested automatically before allowing a PR to merge.

What is your opinion on this?

[2020-06-25 01:34] zorbyte opened #131 "[info] README diagram does not properly reflect function of X"
The mediator represented on the diagram should be labelled as X, which has the core constituents API and CDN.

[2020-06-25 01:40] zorbyte commented on #131
Also, GraphQL should be for MVP 3. We should discuss this later though.

[2020-06-25 02:08] divy-work commented on #130
@tbaumer22 Command like `init` that need user input can have an alternate `initx` command that takes in that input from arguments. What do you think?

[2020-06-25 02:15] tbaumer22 commented on #131
CC @maximousblk

[2020-06-25 02:17] tbaumer22 commented on #130
@divy-work that would work. Perhaps we could use the same "init" function, where the information is just passed in two different ways from the different commands. In a sense, each function would be shared by two different commands.

OR we could consider parsing optional arguments in the original command itself. Either way would work.

[2020-06-25 02:25] fakoua opened #132 "[BUG] Minor, badge rendering with README file"
The readme file renders the badges in the same line with github, while nest renders the badge in two separate lines, minor but fixing it would be great.
Thanks

[2020-06-25 02:27] tbaumer22 commented on #132
@fakoua thanks for letting us know. Could you attach a link and/or a screenshot so we can see what is happening?

[2020-06-25 02:30] fakoua commented on #132
For example:

https://github.com/fakoua/deno_gui
and
https://nest.land/package/deno_gui

Please check how the badge are rendered.

Thanks

[2020-06-25 02:34] tbaumer22 commented on #132
I see. This is very interesting. If you visit [Opine's module page](https://nest.land/package/opine/files/README.md), this does not occur. As a workaround, try formatting your README badges like Craig Morten does here: https://raw.githubusercontent.com/asos-craigmorten/opine/main/README.md

Let me know if this helps fix your problem!

[2020-06-25 02:53] fakoua commented on #132
Hi @tbaumer22 ,
It is fine for Opine, but my concern is not a specific package, we need consistency between github and nest.

[2020-06-25 02:55] tbaumer22 commented on #132
Yes, you're right. I completely agree. We'll investigate a solution to this problem when we can. Until then, feel free to use Craig Morten's method above!

Thanks again for reporting this.

[2020-06-25 03:05] divy-work opened #133 "[BUG] Badge link broken, minor."
**Describe the bug**
The nest.land badge links to a 404 page.

**To Reproduce**
1) Go to https://github.com/divy-work/autopilot-deno
2) Click on the nest.land badge
3) And you have a 404

**Expected behavior**
Should go to https://nest.land/packages/autopilot

**Additional context**
The fix: remove the versioned url i.e.
`https://nest.land/packages/autopilot@0.1.7`

[2020-06-25 05:30] CoolDeveloper101 opened #134 "[BUG] Website freezes after leaving a form blank."
**Describe the bug**
In the [getting started](https://nest.land/#start) section, when someone leaves the username and password fields blank, the application freezes for some time and then shows the error **502 bad gateway**

**To Reproduce**
Go to https://nest.land/#start. Leave the username and password section blank. Click the fetch your api key button.

**Expected behavior**
To fetch the api ke

[2020-06-25 05:36] tbaumer22 commented on #134
Thanks so much for creating this issue! That will be an easy fix on my end. I'll see if I have time to fix this in a few hours. For now, you can refresh the page if you're trying to log in or create an account.

Sorry for the inconvenience!

[2020-06-25 13:57] maximousblk commented on #102
new badges:

regular:

![nest badge](https://nest.land/badge.svg)

large:

![nest badge](https://nest.land/badge-large.svg)

[2020-06-25 17:50] maximousblk commented on #131
Is this correct?

![image](https://user-images.githubusercontent.com/28438021/85772419-7361d900-b73a-11ea-82a7-482b9d6c57c7.png)

[2020-06-25 22:08] #131 closed

[2020-06-26 03:43] divy-work opened #139 "API-NEXT: Setup Arweave 2"
As we are moving this Api as a replacement for x-node...we would need a rust crate for Arweave 2.

Ref: rootmos/arweaver#1

[2020-06-26 03:44] divy-work commented on #133
The issue is because the CLI gives the badge with the broken link.

[2020-06-26 09:51] asos-craigmorten opened #142 "[BUG] `eggs update` command updates to invalid `releases` version for some imports"
**Describe the bug**

Running the `eggs update` results in some import statements for dependencies being updated to an invalid URL where the version is set to `releases`.

Before: `export { encodeUrl } from "https://deno.land/x/encodeurl@1.0.0/mod.ts";`
After: `export { encodeUrl } from "https://deno.land/x/encodeurl@releases/mod.ts";`

**To Reproduce**

1. Create a directory / repo with a `deps.t

[2020-06-26 10:24] oganexon commented on #142
This has been fixed in the nest release 😀
Thanks for the bug report, we haven't thought of this case. The author hasn't published any version on the repo so that's why it failed.

New behaviour:
[code]
Becomes
[code]

![image](https://user-images.githubusercontent.com/52361520/85847603-fe2ced00-b7a7-11ea-912f-a04133834355.png)

[2020-06-26 13:36] tbaumer22 commented on #133
We should patch this for our next release later today. It shouldn't be too difficult. I'll fix it.

[2020-06-26 13:44] tbaumer22 commented on #142
@asos-craigmorten thanks so much for making this issue! Sorry it was already fixed... I suppose that is a good problem to have though :)

Keep an eye out for some more issues if you're still interested in contributing!

[2020-06-26 14:22] asos-craigmorten commented on #142
Don't be sorry it's fixed :joy: it's awesome you're all on it 💯

[2020-06-26 23:08] #134 closed

[2020-06-27 05:04] RivierGrullon opened #144 "[BUG] Deno 1.1.2 error installation of eggs"
A few changes in the standard library are affecting the CLI.

error: TS2339 [ERROR]: Property 'dir' does not exist on type 'typeof Deno'.
  return Deno.dir("home") || "/";

[2020-06-27 06:37] divy-work commented on #144
@RivierGrullon https://github.com/nestlandofficial/nest.land/pull/145 Will fix this issue. If don't want to wait for it to be merged, you can install the cli via the fork's branch.

[2020-06-27 10:49] divy-work opened #148 "[PROPOSAL] Twig - Nest.land's Arweave API Service (private)"
**What**
-----------

An API for internal use by `X` (node) and `API` (rust). It will perform everything related to Arweave (transactions, signing) etc.
This will not be public and only be used by the public services internally.

**Why**
-----------

Now that we have a Rust API coming up, the major issue is to integrate an Arweave client in Rust. We already have `x-node` which uses `arweave-js` as

[2020-06-27 10:55] oganexon commented on #89
**Detailed permissions:**
* init
  * __--allow-write__: write to the egg config file
  * __--allow-read__: read previous config
* install
  * __--allow-write__: write to the .eggs-global-modules.json config file
  * __--allow-read__: read previous config
  * __--allow-net__: get latest module version
  * __--allow-run__: install module
  * __--allow-env__: get home dir
* link
  * __--allow-write__

[2020-06-27 13:33] tbaumer22 commented on #148
@divy-work I really like this idea for its flexibility. In the near future, we're planning to implement the option for users to use their own Arweave wallets on nest.land instead of uploading through ours. I think that the concept of `twig` will make this easier since the Arweave uploading is kept separate from the public APIs

[2020-06-27 13:54] #133 closed

[2020-06-27 15:15] #144 closed

[2020-06-27 17:34] t8 opened #149 "Integrate Arweave PSTs into nest.land"
**Describe the solution you'd like**
Creating a Profit Sharing Token (PST) would greatly benefit nest.land's ecosystem because it would allow for a way to generate passive income just by uploading packages to Arweave through users' wallet addresses. This income can be utilized to pay for project expenses and also as an investment. As the platform grows, so would the token.

**Additional context**

[2020-06-27 17:40] tbaumer22 opened #150 "[FEATURE] Allow for users' own Arweave wallets"
**Describe the solution you'd like**
Allowing a user to upload modules to nest.land through their own wallet addresses would provide more freedom to the user. This would benefit the platform because we would not have to pay transaction fees to upload data to the blockchain for these modules.

**Additional context**
This is a necessary addition to the platform in order for nest.land to be able to i

[2020-06-27 19:48] tbaumer22 commented on #89
@oganexon thanks so much for listing these! I'll make additions to our CLI README with this list soon. This is extremely helpful!

[2020-06-28 09:18] oganexon commented on #118
Can you show us the structure of your directory so we can reproduce the error?

[2020-06-28 09:22] oganexon commented on #104
With recent events, should this proposal be closed?

[2020-06-28 09:26] MartonDev commented on #118
@oganexon We just need to update the readme check. Right now it's only checking if there is a readme in the `files` field.
It says "No readme found" if there is a readme, but it's not in the egg.json

[2020-06-28 09:29] oganexon commented on #118
Okay, I didn't understand the problem like that 😉
So the readme should be published in any case

[2020-06-28 10:20] maximousblk commented on #104
@oganexon yes

[2020-06-28 10:21] #104 closed

[2020-06-28 11:47] RobDWaller opened #155 "[BUG] Eggs Publish Link 404s"
**Describe the bug**
When you run `eggs publish` it generates the following output:
[code]
The link `https://nest.land/package/resulty@0.3.0` will 404.

**To Reproduce**
Run `eggs publish`.

**Expected behavior**
The link generated by the `eggs publish` command should resolve, AKA return 200.

**Screenshots**
![eggs-publish-cli-error](https://user-images.githubusercontent.com/634080/85946583-429dc

[2020-06-28 11:49] zorbyte commented on #107
This is dependent on a de facto standard and would thus be restricting to users who do not subscribe to such methodologies. -1 for this.

[2020-06-28 11:51] zorbyte commented on #107
If we allowed it as strictly an alternative and not the standard, that wouldn't be that bad I guess, but adding too many means to configure something will clutter the CLI not in terms of SLOC but rather in features.

[2020-06-28 11:53] maximousblk commented on #132
seems to be a problem with `vue-markdown`. it adds a `<br>` tag after each image.

![image](https://user-images.githubusercontent.com/28438021/85946695-df735580-b963-11ea-86b5-99de579a3ce9.png)

[2020-06-28 11:55] maximousblk commented on #107
fair enough 👍

[2020-06-28 12:13] divy-work commented on #155
@RobDWaller Similar issue at #133

[2020-06-28 13:23] divy-work commented on #150
Giving out the wallet to a service is not something people would like. Is there an Arweave OAuth-like service to grant applications certain perms?

[2020-06-28 13:39] RobDWaller commented on #155
Well should the link `https://nest.land/package/resulty@0.3.0` resolve?

Also I ran `eggs upgrade` but still get `0.1.2` when I run `eggs -V`, I'm assuming `0.1.2` is the latest version?

[2020-06-28 13:41] maximousblk opened #157 "[FEATURE] Option to use latest version of a module"
**Is your feature request related to a problem? If so, please describe.**

Sometimes using the most recent version of a module is a requirement. But to do so under the current system is only possible by using the api, which is not possible in all cases

**Describe the solution you'd like**

make the latest version available through `https://x.nest.land/package_name@master` or `https://x.nest.land/

[2020-06-28 13:42] oganexon commented on #157
Since I suppose it's simply a matter of getting the most recent version, I propose to fix the problem for the API as well
latestVersion should return the greatest semver instead of the most recent version

See https://x.nest.land/api/package/Mandarine.TS

[2020-06-28 14:17] tbaumer22 commented on #157
We purposely didn't implement this because implicit versioning is a massive reason for peoples' code breaking over time. Thanks for the idea though!

[2020-06-28 14:17] #157 closed

[2020-06-28 14:19] tbaumer22 commented on #155
@RobDWaller I'm really sorry to hear that. This is a bug with `eggs upgrade`. The latest version of eggs is 0.1.5/0.1.6 (they are identical). Try installing it with this: `deno install -A -f --unstable -n eggs https://x.nest.land/eggs@0.1.5/mod.ts`

This should fix your original publish link 404 issue as well.

[2020-06-28 14:19] #155 closed

[2020-06-28 14:47] tbaumer22 commented on #150
@divy-work unfortunately there is not. This is actually a common thing for Arweave dapps to request. Most have a "drop your Arweave keyfile here" box in order to log in.

For the time being, I think that this is the only solution.

[2020-06-29 02:23] yg opened #162 "[FEATURE] Add user avatar in the "Package info" section"
**Describe the solution you'd like**

Add user avatar in the Package info section

We can use Gravatar to achieve it, but the only problem is that we are not getting email while signing up

**Additional context**

![Screenshot](https://user-images.githubusercontent.com/61746440/85966490-9364f700-b9dd-11ea-84a1-e15bd6602d93.png)

[2020-06-29 02:28] yg opened #163 "[BUG] Blink "Unable to find any packages" after loading"
**Describe the bug**

In the gallery, we can see a blinking error "Unable to find any packages" after loading

**To Reproduce**

1. Open https://nest.land/gallery
2. Reload it

**Expected behavior**

Should display all packages after loading

**Screenshots**

https://www.loom.com/share/3225ee666c4c415ebd11f96aaf23a812

**Desktop (please complete the following information):**

 - OS: Ubuntu

[2020-06-29 02:33] yg opened #164 "[BUG] Case Insensitive search"
**Describe the bug**

Case Insensitive search

**To Reproduce**

1. Open Gallery
2. Type `Oran` it will show Orange Package
3. Type `oran` it will show nothing

**Expected behavior**

Display the same results

**Screenshots**

https://www.loom.com/share/9db844c48d524677b69de801bcd96d3a

**Desktop (please complete the following information):**

 - OS: Ubuntu

[2020-06-29 11:18] asos-craigmorten commented on #142
Don't know if the fix was released in `0.1.5` - still seeing the same issue.

But on a slightly different, but related point. Attempting to update Oak, i.e.:

[code]

Results in a downgrade to:

[code]

I am guessing that the logic is currently relying on GitHub releases given that was the last Oak release.

May I suggest we migrate to using `tags` as the basis of versioning instead given a releas

[2020-06-29 11:32] yg opened #166 "[FEATURE] Pressing enter to fetch the API key"
**Is your feature request related to a problem? If so, please describe.**

It would be great if we press enter to fetch the API key instead of mouse click

**Describe the solution you'd like**

Pressing enter to fetch the API key

**Additional context**

![Screenshot](https://user-images.githubusercontent.com/61746440/85999748-3e030700-ba2a-11ea-991b-4efac5e6d1f6.png)

[2020-06-29 11:39] yg opened #167 "[BUG] Stop loading when loading fails"
**Describe the bug**

Stop loading when loading fails

**To Reproduce**

1. Go to http://localhost:8080/#start
2. Fill all the details
3. Click the button
4. If it fails it keeps loading

**Screenshots**

![Screenshot](https://user-images.githubusercontent.com/61746440/86000454-32fca680-ba2b-11ea-9538-17e2e7f67e53.png)

**Desktop (please complete the following information):**

 - OS: Ubuntu

[2020-06-29 11:55] tbaumer22 commented on #163
Thanks for making this issue! This is already something we have in #105, so I'll close this one.

[2020-06-29 11:55] #163 closed

[2020-06-29 11:56] tbaumer22 commented on #167
This shouldn't be a difficult issue to fix. I'll add that to my todos.

[2020-06-29 12:39] yg commented on #167
@tbaumer22 I will work on this!

[2020-06-29 19:41] tbaumer22 commented on #142
@asos-craigmorten so sorry! We ended up not pushing the updates @oganexon had made to the CLI, so this bug wasn't resolved. It'll be in the next version, which is coming very soon.

Your `tag` idea is something I think we should discuss further with @zorbyte. Any thoughts Oscar?

[2020-06-30 02:46] #167 closed

[2020-06-30 03:25] tbaumer22 commented on #162
Gravitar is a good idea, though it won't be feasible for what we're trying to accomplish. We're purposefully not collecting user emails to simplify the users' interactions with the project.

An alternative would be to add a command into the CLI allowing users to upload their own profile image to the blockchain. We can totally investigate this in the near future!

[2020-06-30 03:27] tbaumer22 commented on #148
Closing this issue, as it is no longer a proposal 👍

[2020-06-30 03:27] #148 closed

[2020-06-30 03:28] tbaumer22 commented on #120
Implemented in #169.

[2020-06-30 03:28] #120 closed

[2020-06-30 04:15] jsejcksn opened #170 "Permissions / API"
It is not possible for me to grant unsandboxed/unrestricted access to any unsigned application in my CLI environment. Using `--allow-all` during installation is simply not a possibility.

I would still like to interact with nest.land, and I am able to grant `eggs` restricted permissions in order to do so.

e.g.

`--allow-net` 🙅
`--allow-net=x.nest.land,deno.land,denopkg.com` 👍

`--allow-read` 🙅
`-

[2020-06-30 12:48] tbaumer22 commented on #170
Hi Jesse,

Thanks for reaching out! Here is a list of permissions needed for each command to function properly: https://github.com/nestlandofficial/nest.land/issues/89#issuecomment-650542756

Based on the permissions you've listed, it appears that you'll be able to run some commands but not others. I think that the above link will give you a great amount of clarity for determining whether the CLI

[2020-06-30 13:11] jsejcksn commented on #170
@tbaumer22 Thanks for linking me to the other issue. I think this one is effectively a duplicate of that one, so feel free to close it if you agree.

[2020-06-30 13:37] tbaumer22 commented on #170
No problem! I didn't close this initially because I thought that it may turn into an API conversation, but I suppose you can open a new issue if you have any questions related to that.

[2020-06-30 13:37] #170 closed

[2020-06-30 14:21] #142 closed

[2020-06-30 14:40] #113 closed

[2020-07-01 05:33] divy-work commented on #166
This won't be hard to implement. Can be done in routine PRs.

[2020-07-01 05:34] divy-work commented on #139
@tbaumer22 Closing since we have Twig now.

[2020-07-01 05:34] #139 closed

[2020-07-01 14:29] tbaumer22 opened #182 "[CHORE] Meet criteria for Vercel Sponsorship"
Nest.land is attempting to be sponsored by Vercel, but needs to meet the following criteria before we are eligible:

- [x] The project should be open-source.
- [x] The project should be static rather than server-rendered.
- [ ] A Vercel banner in the footer of each site page.
- [ ] A Vercel banner in the source repository's `README.md` file.
- [ ] All links back to Vercel should use a UTM tag with

[2020-07-02 11:47] MartonDev commented on #118
Working on this rn

[2020-07-02 13:26] MartonDev commented on #182
I'll work on the Vercel banner stuff. As for the links, I'm not sure what changes that requires

[2020-07-02 13:52] tbaumer22 commented on #182
Sounds good @MartonDev. Feel free to check out @maximousblk's design for the new footer and see if that would work.

[2020-07-02 15:06] TheWizardBear opened #185 "[BUG] Website says module should be imported from mod.ts, when the entry file is set to mod.js"
**Description**

The description at https://nest.land/package/maze_generator says that the package can be used with ...`mod.ts`:
![modts](https://user-images.githubusercontent.com/42446683/86374756-d4c70200-bc7c-11ea-8e39-8a505eff3e80.png)

even though the egg.json file says ...`mod.js` (and using the URL stated doesn't work):
![eggjson](https://user-images.githubusercontent.com/42446683/86374737-

[2020-07-02 15:21] MartonDev commented on #185
We will be working on adapting the entry field in the front end in the near future

[2020-07-02 15:22] MartonDev commented on #185
Actually might just do it today

[2020-07-02 16:05] Qu4k opened #186 "[FEATURE] draft eggs cli v-00, contextual awareness"
# eggs cli v-00, contextual awareness

adapted from [qu4k/drafts](https://github.com/Qu4k/drafts)

## abstract

remove the need of a configuration file for nest.land modules, gathering much
of the information from the module directory itself.

## current implementation

as it stands the basic - but complete - implementation of a nest.land eggs.json
file is:

[code]

information for all the fields

[2020-07-02 22:33] #67 closed

[2020-07-02 22:33] #106 closed

[2020-07-02 22:33] #118 closed

[2020-07-02 22:33] #185 closed

[2020-07-02 22:54] MartonDev commented on #162
Imo we don't really need user avatars. No one will be looking at those

[2020-07-03 11:28] #105 closed

[2020-07-03 11:28] #164 closed

[2020-07-03 11:28] #166 closed

[2020-07-03 22:56] #182 closed

[2020-07-05 16:52] t8 opened #195 "Case sensitive package urls"
**Describe the bug**
We have a normalized name field built in to our API, but the site does not utilize this feature for navigating to packages.

**To Reproduce**
Try to visit: https://nest.land/package/Nessie
And then try to visit: https://nest.land/package/nessie

**Expected behavior**
The link for [nessie](https://nest.land/package/nessie) should work along with the link for [Nessie](https://ne

[2020-07-05 16:57] jletey commented on #195
@tbaumer22 Maybe we should just use the normalised package names for the urls?

[2020-07-07 03:05] divy-work commented on #150
`eggs publish --wallet ../keyfile.json` will read the contents of the wallet and send it to the api...the api will pass it to twig...twig will make a connection with the wallet... transaction will be made...wallet is not stored... everything looks fine.

[2020-07-07 03:27] tbaumer22 commented on #150
Awesome work @divy-work!

[2020-07-08 19:14] t8 commented on #89
@asos-craigmorten, Marton has added this list of necessary permissions to the new documentation. Until the new PR is merged, feel free to view the permissions here: https://docs.nest.land/installation.html#permissions-used

Thanks again for mentioning this!

[2020-07-09 00:32] jsejcksn commented on #89
@t8 I propose that the nest.land API functionality of `eggs` be split into a separate exported module that can be used exclusively with [scoped permissions](https://deno.land/manual/getting_started/permissions#permissions-allow-list). (ref. https://github.com/nestdotland/nest.land/issues/170#issue-647844339). Users can then create higher-level abstractions for providing the necessary permission ar

[2020-07-09 00:50] t8 commented on #89
@jsejcksn are you referring to building a sort of Deno API client for nest.land?

This would be possible, and not too difficult to do. You raise a good point about giving away permissions.

[2020-07-09 01:29] jsejcksn commented on #89
Exactly. And `eggs` would be the dogfood consumer

[2020-07-09 02:33] t8 commented on #89
I really like this idea. Once we fully convert to our Rust API, I think that this would be a great focus.

Side note: I think that we're straying away from the topic of this issue. I'm going to leave this linked to #200, and you are more than welcome to make a feature request!

[2020-07-09 03:26] andreespirela opened #201 "[FEATURE] Being able to hide versions."
**Describe the solution you'd like**
I would like to open up a discussion and see what you all have to say about a feature that I'm desiring since a while ago. The feature would consist in being able to hide a specific version from the website (nest.land). The usage would be something like `eggs hide 1.1.2` and from there on, the version `1.1.2` will stop appearing on the website.

**Note**: It wo

[2020-07-09 06:24] divy-work commented on #201
Why would someone want to hide a specific version from the website but not from the blockchain. :thinking:

If they publish a broken package by mistake, they will have to create a new stable version to fix it anyways. The website will show the stable version after it is uploaded so the prev broken version is already hidden to the user anyways (unless they choose to see it).

Instead of not display

[2020-07-09 06:28] zorbyte commented on #201
We should consider allowing people to add a X-Deno-Warning header and proxy the package for those types of package.

[2020-07-09 07:56] #89 closed

[2020-07-09 08:40] jsejcksn opened #202 "[FEATURE] Extract API-related functionality to module with scoped-only permissions"
I propose that the nest.land API functionality of `eggs` be split into a separate Deno module that can be used exclusively with [scoped permissions](https://deno.land/manual/getting_started/permissions#permissions-allow-list). (ref. https://github.com/nestdotland/nest.land/issues/170#issue-647844339)

Users can then provide the necessary scoped `--allow-*` permission arguments with specific values

[2020-07-09 13:02] andreespirela commented on #201
I think that’s a good point. Unstable versions should do it, something like `eggs report` would make the version unstable, and so it wouldn’t be shown on the “stable” dropdown, rather there will be another drop down for versions marked as unstable. I guess we would have to think how we will fetch the unstable versions (how we would differentiate the stable & unstable versions when requesting them

[2020-07-10 10:19] maximousblk opened #203 "[BUG] all modules loading in the search"
**Describe the bug**

When you search on the gallery page, after scrolling, all the modules start loading.

**To Reproduce**

1. go to https://nest.land/gallery
2. search for "oak"
3. scroll down

**Expected behavior**

nothing other than the matching modules load

**Actual behavior**

all the modules start loading

**Screenshots**

![image](https://user-images.githubusercontent.com/28438021/87143

[2020-07-11 09:17] zorbyte commented on #45
Closing due to major changes that conflict with this issue.

[2020-07-11 09:17] #45 closed

[2020-07-11 14:49] yoshixmk opened #206 "[FEATURE] Improve semantic versioning detection logic, in case the lack of the Latest version Tag"
**Is your feature request related to a problem? If so, please describe.**
This is feature request.
[code]
This repository is the lack of the Latest version Tag, but do semvar so that egg should detection the latest version from all versions.
https://github.com/xcatliu/pagic/releases

Here is the point of improvement.
https://github.com/nestdotland/nest.land/blob/master/eggs/src/commands/update.ts#

[2020-07-11 16:11] #203 closed

[2020-07-11 17:47] maximousblk opened #207 "Private modules"
## 🚀 Feature

Ability to publish private modules would be a very nice addition.

## Motivation

This feature would allow people to publish module they want accessed by limited number of people..

## Implementation

This is just my initial pitch. this may or may not be the way to do this.

publishing:

#### CLI

1. checks if the user is eligible to publish private modules
2. encrypt every file exce

[2020-07-12 17:49] maximousblk commented on #107
reopening this issue with updated suggestions

so what about in the module's entry file, we export an `egg` object and use that in the cli?

[code]
then in the CLI:
[code]

or if you don't wanna change anything from the config, you would do:
[code]

[2020-07-13 08:50] qu4k commented on #107
@t8 this issue should be moved to the eggs repo

[2020-07-13 09:15] TheWizardBear opened #208 "[BUG] Images with realtive file paths don't work in a markdown file on the nest.land website"
## Describe the bug
Images with realtive file paths don't work in a markdown file on the nest.land website.

## To Reproduce

[Here](https://nest.land/package/maze_generator), there should be an image of a maze, but it isn't loading correctly.
`![Kruskal's maze](images/Kruskals-20x20.png)`

## Expected behavior
It should show an image, like it does [here](https://deno.land/x/maze_generator), on de

[2020-07-13 09:24] MartonDev commented on #208
Thanks for reporting, I shall work on this

[2020-07-13 09:54] maximousblk commented on #107
@qu4k good idea! moving.

[2020-07-13 10:15] zorbyte commented on #121
What if the original owner wishes to upload their package? How can we verify beyond doubt that the user claims to be who they say they are?

[2020-07-13 10:22] MartonDev commented on #121
That is partially why we have the repository field. It will be mandatory for community packages and will contain the original repo.

[2020-07-13 10:31] MartonDev commented on #208
By the way, you don't have your images directory uploaded to nest.land. You should upload it, relative paths won't work otherwise.
![image](https://user-images.githubusercontent.com/30638105/87294948-c5f61000-c504-11ea-8e18-8202e5f899af.png)
I just recoded our relative path resolver, so now everything should be working after the pull request

[2020-07-13 10:37] #208 closed

[2020-07-13 11:08] TheWizardBear commented on #208
@MartonDev Thank you!

Oh, I didn't notice that. :/
I have some other folders that aren't there too.
I think it's because I tried to add all of the files with:
[code]
but I didn't realize that that doesn't include folders.

[2020-07-13 12:57] zorbyte commented on #121
Closed due to ethical, legal and malware concerns.

[2020-07-13 12:57] #121 closed

[2020-07-13 18:43] #213 closed

[2020-07-13 18:45] #214 closed

[2020-07-13 18:45] #215 closed

[2020-07-15 01:44] t8 opened #221 "Add "Community" tab to site navbar"
With the addition of our Discussions tab, I think it may prove beneficial to add a `Community` tab to the site navbar. This way, users will:

1. Have easy access to Discussions
2. Visit our repository and see the organization with its code
3. Help us build our own community and find an outlet to ask questions, post ideas, see the current activity, and talk about their own modules

[2020-07-18 05:00] zorbyte commented on #5
Irrelevant to site now.

[2020-07-19 07:32] #5 closed

[2020-07-19 13:14] martonlederer opened #227 "Relative URL replacement not working with img tags"
Markdown can also use img tags to display images. Relative URL replacement does not yet work with these img tags
Example: https://nest.land/package/remove-forever

[2020-07-19 20:34] andreespirela opened #228 "Tag `@latest`"
Can we add the ability to use the tag `@latest` so by using it we can get the request map it to the latest version published.
I think this is a nice feature & it will make Documentation so much easier as I don't have to update my documentation to only update the nest.land tag.

If Unstable dropdown will be added at some point, then `@latest` should only use the **latest stable version**.

Example:

[2020-07-19 21:36] MartonDev commented on #228
I'm not a founder so I can't decide about this, but I think this would be against the whole purpose of nest.land. We exist, to provide the most amount of stability possible. If we add the `@latest` tag, and a module introduces a breaking change, this stability is gone.

[2020-07-19 21:39] andreespirela commented on #228
Well, `@latest` would be equal to writing the latest version published. At the end, the user will still have **to write** `@latest` at the end of the importing package. So instability can also happen with pointing out to an actual version

[2020-07-19 21:47] MartonDev commented on #228
No it wouldn't be equal. As I explained earlier, `@latest` will always point to the **latest** version, and if let's say someone uses the `xy()` function from `1.0.0` of a module, and in `1.1.0` of that module, the name of this function changes, for e.g. to `az()`, the function in the program, importing the `@latest` tag would still use `xy()`, but that is already renamed to `az()` in the latest v

[2020-07-19 21:50] andreespirela commented on #228
Oh okay that makes sense. Fair enough. Closing :).

[2020-07-19 21:50] zorbyte commented on #228
We initially decided to prevent using the latest version to try and solve the issue of breaking changes just randomly popping up and breaking things. I empathise with your situation, as this decision has made your job more demanding. I think it's worth a discussion so that we can evaluate whether or not it would be beneficial to our platform, it's goals and to it's users to support this behaviour.

[2020-07-19 21:53] zorbyte commented on #228
The problems that Marton addressed are the most concerning to me though, which is why I personally believe we shouldn't support this feature. I'll let Tate reopen the issue if he pleases.

[2020-07-19 21:53] andreespirela commented on #228
I would also suggest stability relies a 70% on the package hands. So for example, if MandarineTS is broken and I tell my users to use `@latest` then it’s really my fault they are using a broken version or for instance, a version with breaking changes. I mean, I can relate to both sides of this story...

I think it’s worth a discussion as well, overall because of things like documentation.

Best.

[2020-07-19 21:56] andreespirela commented on #228
Assumptions that users are using the latest version are also valid such as the Deno 1.2.0 case and the people & documentation using 1.1.3. The Deno documentation assumes you are using the latest version when executing your code...

Anyways, I think it’s worth the discussion, as I have mentioned, I understand both sides of the story and definately if this is a feature that goes against nest.land ph

[2020-07-19 22:07] oganexon commented on #228
Why don't we bring the best of both worlds?
With semver tokens: ^ < ~ =, it would solve most of the issues.
Let me explain. If a version is broken, a bugfix will fix the module without breaking it. Breaking changes will not be installed because of the tokens.
For instance,
[code]
Would be the same as
[code]
But not
[code]
What do you think?

[2020-07-20 04:27] t8 commented on #228
@oganexon your solution would work perfectly fine *if* we could trust developers to use semver versioning correctly. I'm really on the fence as to whether or not we can do that.

My stance on this topic is this: Yes, it would make it **much** easier for documentation purposes and importing latest (stable) versions, but I believe that it proves for a recipe for disaster. For example, an older versi

[2020-07-20 04:28] #228 closed

[2020-07-21 13:31] #207 closed

[2020-07-22 02:52] t8 opened #232 "Add alternative Arweave import urls to the site"
**Describe the solution you'd like**
Introducing direct Arweave urls would give users a direct line of contact with the blockweave that hosts module data. Even if x.nest.land were to have an outage, this gateway would not go down.

Theoretically, even if it did, we'd easily be able to 1) spin up our own gateway or 2) use the same exact transaction string in the url with another gateway such as `pe

[2020-07-22 14:30] Keimeno opened #234 "feat: integrate vuex to store and handle state."
**Is your feature request related to a problem? If so, please describe.**
The problem currently is, if we route to `/gallery` it sends a requests to receive information about 24 packages. However if we go to any other route and come back to `/gallery` later, it refetches those 24 packages.

**Describe the solution you'd like**
This could be avoided by using vuex to persist the data until we reload

[2020-07-22 17:11] Keimeno opened #236 "feat: move from javascript to typescript"
### Request
Since most of nestdotlands code is written in javascript, I think it would be a great idea to convert the project from javascript to typescript.

[2020-07-22 23:55] zorbyte commented on #232
Not a good first issue tate :)

[2020-07-23 03:10] divy-work commented on #234
I think vuex will be great! We could also add i18n support with it.

[2020-07-23 03:12] t8 commented on #234
Was just about to say that myself! I totally agree. This would be very useful, while also reducing the load on the API.

[2020-07-23 03:14] divy-work commented on #236
@Keimeno We are only not-typescript in the website, I think it will be great to migrate, but it should not be a priority. cc @MartonDev

[2020-07-23 03:53] t8 commented on #236
This has certainly been a topic of conversation. I think we're shooting for a TS rewrite in MVP 3. 👍

[2020-07-23 03:59] t8 opened #238 "File browser unable to resolve files with spaces"
When visiting https://nest.land/package/maze_generator/files/images, I notice that when clicking on [sidewinder 40x40.png](https://nest.land/package/maze_generator/files/images/sidewinder%2040x40.png), the site redirects to a 404.

This is a huge issue because it means that files with spaces are unable to be viewed on the site.

[2020-07-23 06:39] MartonDev commented on #236
Good idea. I want to do this to with @t8 personally

[2020-07-23 07:15] Keimeno commented on #234
Would be interested in adding it myself. However it would make sense to do so after the Typescript migration.

[2020-07-23 07:55] zorbyte commented on #236
I would love to contribute to this project as well.

[2020-07-23 07:57] MartonDev commented on #236
In my opinion, Vue doesn't really fit with typescript. If we really want to use it, we should migrate to react or svelte

[2020-07-23 08:04] Keimeno commented on #236
Thats not the case with Vue 2.6. Typescript is perfectly integrated. The only annoying part is, that .vue files need to be declared, and you loose the autocompletion of props. Also a complete rewrite wouldn't make sense. Especially migrating from vue to react.

[2020-07-23 10:21] divy-work commented on #236
A complete rewrite would not only allow us to integrate Typescript , Vuex and Yolk more easily but also fix the current issues! I'd love to contribute to this part.

[2020-07-23 21:59] balupton commented on #132
You can use https://github.com/bevry/projectz for maintaing the readme badges - it uses `package.json:badges` and other information from inside `package.json` to populate them.

[2020-07-24 01:16] t8 commented on #132
I'm afraid that our issue here has to do with the way the badges are displayed on the site and not the badge files themselves.

@MartonDev is this something that can be fixed with your experimental `vue-markdown` in development?

[2020-07-26 15:18] TheWizardBear opened #241 "[BUG] Entry file displayed as `mod.ts`, even though it is set to something else."
This is the same issue that I previously described in #185, but that was fixed by @MartonDev in #184.
It seems  that exactly the same problem is happening again here: https://nest.land/package/maze_generator, despite the entry file still being set to `mod.js` in `egg.json`.

[2020-07-28 05:51] divy-work opened #243 "Advance malicious / broken module detection"
Currently our malicious/broken module detection is manual making it an experience based reporting system i.e we just let the users complain.

**Proposal** -
Analyze every source file (js/ts) and dependencies in the module source code as and when a new version is published.

**How** -
It may sound difficult to implement something like this but luckily we have [`swc`](https://github.com/swc-project/

[2020-07-28 08:02] qu4k commented on #243
This could be integrated well with module scoring

[2020-07-28 11:19] littledivy opened #244 "No README? Then say it."
Upload a module with no README and stare 10 mins at this:
![image](https://user-images.githubusercontent.com/34997667/88659145-3484c180-d0f2-11ea-9702-25f34dc7e327.png)

[2020-07-30 11:13] divy-work commented on #243
**[analyzer](https://github.com/nestdotland/analyzer)** is the repo for this. Converting this to a discussion.

[2020-07-30 11:13] #243 closed

[2020-08-02 01:26] t8 commented on #244
Haha fair point. This is something that should be addressed.

[2020-08-02 15:47] HermitSun commented on #236
Or we can wait for the coming Vue 3, it is now in rc5😊.

[2020-08-02 15:49] martonlederer commented on #236
Yeah we should wait until Vue 3. We'd love your contribution.

[2020-08-02 15:50] t8 commented on #236
@HermitSun feel free to email me your discord username, and I'll send you an invite to our internal chat! It may be easier to coordinate from there.

My email: tate@arceum.co

[2020-08-02 15:50] Keimeno commented on #236
Maybe we should even build the project with nuxt then. One of the best things about npmjs.com is, that all packages are indexed by google.

[2020-08-02 15:51] t8 commented on #236
@Keimeno good point. We actually have some new developments regarding that 😄

CC @maximousblk

[2020-08-12 03:27] #149 closed

[2020-08-19 11:56] martonlederer opened #249 "Use analyzer to display dependency trees for modules"
Use the new analyzer to display all module dependencies in `PackageDetail.vue`

[2020-08-27 07:47] divy-work opened #252 "extend .eggignore with a particular syntax"
**Is your feature request related to a problem? If so, please describe.**
While working on a particular project, I almost published my keyfile to nest.land :fearful:
I had forgot to setup my `.eggignore` like my `.gitignore`

**Describe the solution you'd like**
A new, easy to implement syntax for `.eggignore`

[code]

**Describe alternatives you've considered**
Copy paste my gitignore to eggignor

[2020-09-05 03:19] nebrelbug opened #254 "Support for giving multiple team members publishing permissions"
**Is your feature request related to a problem? If so, please describe.**
I would love to use Nest.land, but would like to allow others to become maintainers and have publishing permissions.

**Describe the solution you'd like**
It would be great if module "admins" (creators) were able to add other module admins

[2020-09-05 04:34] t8 commented on #254
Hi Ben, thanks for reaching out. This is a great idea! We are investigating the possibility of building this for organizations specifically.

Organization support itself will be an MVP 3 priority. We're currently working towards our MVP 2, so know this is on the horizon!

[2020-09-09 16:47] michael-spengler opened #255 "[FEATURE] Forward to Arweave Transaction"
User Story:
As a user of https://nest.land/ - I want to navigate to the Arweave Transaction when I click ... "Published on" ... (see screenshot) - in order to get infos about the transaction.

![Screen Shot 2020-09-09 at 6 44 03 PM](https://user-images.githubusercontent.com/43786652/92628340-f374f500-f2cc-11ea-99c1-4bebc3213b78.png)

[2020-09-09 16:51] t8 commented on #255
@michael-spengler Moved this to the nest.land repo, as it pertains to the frontend.

If you'd like to work on this, feel free! I think it would be a very neat feature.

[2020-09-09 17:52] michael-spengler commented on #255
@t8 Thanks :) this makes sense.

I'll check it in the evening. Coming from the ABAP GUI and later Angular world this is an appropriate first vue challenge for me. 👍

[2020-09-09 18:04] michael-spengler commented on #255
The plan:
Navigate to https://viewblock.io/ ...  e.g.

https://viewblock.io/arweave/tx/Zh-J83lpDobVxA9U85KYM_L4y1A-L_xoub76PcdmRuM

--> user can e.g. click on "Show Encoded Data" there + e.g. find out transaction id of a json file which is helpful when accessing raw JSON data per https request - e.g. https://arweave.net/tx/PQ5YVI6bfAifozCnIGwx38sCbwDxkiwzKCq0cRg0Q1I/data.json

[2020-09-09 18:21] t8 commented on #255
Awesome! That will be a great addition.

I came from Angular before as well. Personally, I am a much bigger fan of Vue than Angular now.

[2020-09-09 21:29] michael-spengler commented on #255
Implemented by PR: https://github.com/nestdotland/nest.land/pull/256

[2020-09-09 21:47] #255 closed

[2020-09-09 22:03] michael-spengler commented on #254
I can imagine that this makes things much more complicated.

From my experience as a "Product Owner" in other contexts I can recommend to wait with the implementation of this until someone pays an appropriate amout of ETH for this - e.g. via https://gitcoin.co/

Things like that cost from my perspective much more than the benefit is worth.
Modules shall anyhow be finegranular from my perspective.

[2020-09-09 22:08] michael-spengler opened #257 "Potential Error Detected: regarding Stable / Latest Labels"
I'm pretty sure I published e.g. this module see screenshot as stable...

![Screen Shot 2020-09-09 at 11 56 53 PM](https://user-images.githubusercontent.com/43786652/92659829-685e2400-f2f9-11ea-9a19-d0ebfe854e2a.png)

Question related to this: **Is it a best practice to also publish the egg.json?**

In this case it would proof that my egg.json looks like:

[code]

[2020-09-09 22:14] michael-spengler commented on #244
Proposal: `eggs publish` should already fail, if no README.md is included.

If you guys agree, let's move this to https://github.com/nestdotland/eggs --> I would like to try implementing this.

[2020-09-10 00:16] nebrelbug commented on #254
@michael-spengler this feature would be important for me specifically because I'm going to have to transfer several of my packages to community in around 2 months, and will be unable to access the internet for some time afterward. I'd rather not give my personal token to someone for several years if I can't verify that they're using it in good faith.

:man_shrugging: I understand that this could b

[2020-09-10 06:57] oganexon commented on #244
@michael-spengler We try as much as possible to move away from any established standard.
For example in the next version the eggs.json configuration file will no longer be mandatory.

There is already a warning in the CLI if the readme is not found. While this may seem like a critical part of any module, but I don't think a readme should be made mandatory.
Indeed, one can imagine that some authors

[2020-09-10 10:51] michael-spengler commented on #254
@nebrelbug thanks for the additional background infos. I can understand that. One more question from my side:
Would it also be cool, if you could revoke your current API Key and regenerate a new one for specific modules which you then share with the people who will take care of the modules long term?

We used this approach for some of our Telegram Chatbots.

[2020-09-10 18:38] nebrelbug commented on #254
@michael-spengler I would probably be ok doing that... I guess I'm a little cautious because of the docs :rofl:

[2020-09-11 19:36] michael-spengler commented on #254
:) I understand - ... it's good to have some options on the radar now and I'm pretty sure Tate & friends will choose wisely when the time is right :)

[2020-09-11 19:48] michael-spengler opened #258 "idea: target="_blank" for links from gallery?"
I just browsed through some modules from the gallery and thought it might be good to open them in a new tab. IMO this would improve the browsing / exploration experience. Please correct me if I'm wrong on this. If some of you confirm this, I would implement this.

[2020-09-11 19:52] michael-spengler opened #259 "Regarding: Featured Modules"
1. Would it be good to reveal the mechanism which is behind selecting specific modules as featured modules within the docs?
2. Would it be an improvement to have a link underneath (see screenshot) called - "[Browse Gallery](https://nest.land/gallery)"

![Screen Shot 2020-09-11 at 9 49 06 PM](https://user-images.githubusercontent.com/43786652/92967139-03c9d300-f479-11ea-907d-b73dca4ab8e8.png)

[2020-09-11 20:01] michael-spengler opened #260 "Minor UI Improvement - see screenshot"
Instead of

![Screen Shot 2020-09-11 at 9 59 48 PM](https://user-images.githubusercontent.com/43786652/92967899-535cce80-f47a-11ea-8a7b-170a3c67b20f.png)

it should imo look like

![Screen Shot 2020-09-11 at 9 59 35 PM](https://user-images.githubusercontent.com/43786652/92967921-61125400-f47a-11ea-94d5-f0e94b0cb3e8.png)

PR is underway.

[2020-09-11 20:24] t8 commented on #260
Great catch! Didn't notice this before. Thanks!

[2020-09-11 20:25] #260 closed

[2020-09-11 20:27] michael-spengler opened #262 "Upgrade to vue3 would probably be recommendable"
If some of you agree, I will (try to) implement this.

https://itnext.io/how-to-migrate-from-vue-2-0-to-vue-3-0-composition-api-with-ts-part-3-create-a-global-store-aabdfa45a687

[2020-09-11 20:28] t8 commented on #257
Hey Michael! Thanks for reaching out. This is a known bug with our current API unfortunately. We have a new one almost ready for deployment, and when that is deployed, this issue will no longer occur!

Also, regarding your `egg.json` question: It would not affect anything, so feel free to keep it or remove it :)

[2020-09-11 20:28] michael-spengler commented on #258
![Screen Shot 2020-09-11 at 10 28 04 PM](https://user-images.githubusercontent.com/43786652/92969910-1692d680-f47e-11ea-9738-ee4349577255.png)

prerequisite: #262

[2020-09-11 20:29] michael-spengler commented on #262
#258 would benefit from this

[2020-09-11 20:30] t8 commented on #258
Interesting idea. In most cases, I'm against redirecting to a new tab. Perhaps a better UX would be adding a back button, similar to what we do for all of the `std` modules?

See: https://nest.land/std/_util/0.68.0

![image](https://user-images.githubusercontent.com/20846869/92970043-082bc700-f44c-11ea-96df-6b4297cf16f0.png)

[2020-09-11 20:30] michael-spengler commented on #258
good idea

[2020-09-11 20:37] t8 commented on #254
Organization support is something we look forward to bringing to Nest.land, but I don't know when we'd be able to do it (lots of other plans too!).

An alternative option might be setting up some CI for your repositories to automatically publish to Nest.land on releases?

See:
Our repo for doing this: https://github.com/nestdotland/eggs-ci
An example: https://github.com/halvardssm/deno-nessie/blob

[2020-09-11 20:40] t8 commented on #262
I would be interested in migrating, but I'd love to hear @martonlederer's thoughts on this before anyone spends a lot of time on it!

[2020-09-11 21:33] michael-spengler opened #263 "replace package by module"
serveral places on nest.land ui

PR is underway

[2020-09-11 23:06] michael-spengler commented on #262
This seems to be a crisp and pleasant summary on benefits of vue3 - esp. of the composition API:
https://www.youtube.com/watch?v=6HUjDKVn0e0

[2020-09-12 16:34] michael-spengler opened #266 "Proposal: Consistently use Title Case when it comes to titles"
https://www.titlecase.com/

[2020-09-12 21:33] michael-spengler opened #267 "Proposal: Show overall number of modules like Deno is doing - see screenshot"
![Screen Shot 2020-09-12 at 11 30 59 PM](https://user-images.githubusercontent.com/43786652/93005301-237ffa80-f550-11ea-8100-d409f9f19850.png)

in gallery.

Just exploring how this goes together with the lazy loading 24 ... + more on demand ...

If somebody reading this knows if the API provides something like https://x.nest.land/api/modulecount/ please let me know.

[2020-09-12 21:45] TTtie commented on #267
It is provided as a HTTP response header:
https://github.com/nestdotland/x/blob/c94add3607c9fb7b45ac916d5f0776eb0fc0aeb1/src/routes/package.ts#L44

[2020-09-12 23:26] nebrelbug commented on #254
@t8 ah, I think I'll end up doing that for now. Thanks!

[2020-09-13 00:03] michael-spengler commented on #267
cool thanks - will probably draft this tomorrow.

[2020-09-13 00:06] michael-spengler opened #268 "HTML in Readme seems to have some trouble in package detail view"
Compare: https://github.com/drashland/dmm
With: https://nest.land/package/dmm

at the top - see:

![Screen Shot 2020-09-13 at 2 05 43 AM](https://user-images.githubusercontent.com/43786652/93007155-bb3c1380-f565-11ea-8333-52206ce28558.png)

[2020-09-13 00:54] #263 closed

[2020-09-13 04:06] t8 commented on #262
Thanks for sharing this! I think that Vue 3 is a great option for the site, but I think we should also consider some other options as well. The team recently reminded me that Next.js is a very valid competitor, along with React.

Some more deliberation will need to occur before we can decide on anything final.

[2020-09-13 04:08] t8 commented on #267
Would love to see this added! Really smart thinking, @TTtie.

[2020-09-13 04:10] t8 commented on #268
Duplicate of #227. This is something we're looking to find a solution for. Right now, the only fix would be to change the source of the image tag from `logo.png` to `https://github.com/drashland/dmm/raw/master/logo.png`

[2020-09-13 04:10] #268 closed

[2020-09-13 04:12] t8 commented on #267
Perhaps we could even consider showing it beside the "shown modules" count instead...
![image](https://user-images.githubusercontent.com/20846869/93010031-cbe48d80-f555-11ea-8a11-cfb0c7c51512.png)

[2020-09-13 17:57] michael-spengler commented on #267
I'd rather get rid of this one (x Modules Shown) - it is over the Deno's foot traces - and the info (that there are many modules...) is pretty well in the search field (Search through x modules).

[2020-09-13 18:00] michael-spengler commented on #267
It's really cool to have X-Total however it seems that the following is necessary to enable this:
`Access-Control-Expose-Headers: X-Total`

Background:
https://stackoverflow.com/questions/37897523/axios-get-access-to-response-header-fields

If that's right: Could anyone tell me where I can do that because so far response.headers only contains / reveals content-type when called via browser / page ?

[2020-09-13 18:08] TheWizardBear commented on #267
Maybe something like "Showing 24 of 100 modules"?

[2020-09-13 18:11] t8 commented on #267
CC @maximousblk & @justablob

[2020-09-15 15:01] maximousblk commented on #267
I like @TheWizardBear's idea of showing

I'd even suggest we should do what deno has with the search box

[2020-09-15 15:11] t8 commented on #267
I really like @TheWizardBear's idea too. I'd be happy with either representation of this data.

[2020-09-19 03:05] #258 closed

[2020-09-19 11:39] michael-spengler commented on #267
ok - does anyone have updates on this one:
https://github.com/nestdotland/nest.land/issues/267#issuecomment-691703533

As this is imo necessary to get the X-Total

[2020-09-19 14:08] ebebbington opened #270 "UI: Get Token Hangs on Invalid Creds"
**Bug**
When getting an access token on nest.land, and using invalid credentials (eg correct username, invalid password), the process just hangs

**Expectation**
I would expect after some timeout that the server would respond with a 403, or if the server is taking too long, an obvious 500

[2020-09-20 23:04] srackham opened #275 "Markdown single newlines are rendered as paragraph boundaries"
Single newlines are rendered as paragraph boundaries and consequently Markdown documentation not formatted correctly.

For example, compare the opening paragraph this README on Github and on nest.land:

- https://nest.land/package/drake
- https://github.com/srackham/drake/

[2020-09-21 14:52] t8 commented on #221
Closing this, as it is unnecessary & will crowd the navbar at this point in time.

[2020-09-21 14:52] #221 closed

[2020-09-27 15:09] martonlederer commented on #262
It is most likely, that I (or we?) will recode the entire website to use the Vue 3 composition API and Typescript.
A few reasons why I want to do it:
- Composition API makes everything more readable
- Typescript is already the main language of nest.land, it makes sense to use it in our site
- The whole repo needs some cleanup and simplification

[2020-10-04 14:53] martonlederer commented on #244
@littledivy what module did you use, that has no readme? Gonna work on this, but I don't have anything to test with

[2020-10-04 15:11] oganexon commented on #244
@martonlederer Try this module https://nest.land/package/delete_me/files
And then we'll remove this module from the gallery

[2020-10-04 15:23] martonlederer commented on #244
Thanks

[2020-10-05 07:31] martonlederer opened #287 "Use /x or /mod instead of /package"
Right now we are using the `/package/:pkgname` route for modules.
To align more with the Deno philosophy, we could switch to `/x/:modname` or `/mod/:modname`

[2020-10-05 08:25] oganexon commented on #287
I completely agree
After that it would also be necessary to make changes in the internal code, replace all occurrences of the word package by module

[2020-10-05 08:44] martonlederer commented on #287
We could also add a simple redirect for `/package/:pkgname`. Luckily we don't have it in the actual registry URLs

[2020-10-05 08:51] martonlederer commented on #232
Closing this, integrated in #276

[2020-10-05 08:51] #232 closed

[2020-10-05 08:54] martonlederer commented on #259
The featured modules are [randomly selected](https://github.com/nestdotland/nest.land/blob/master/src/components/home/FeaturedPackages.vue#L40) from the 20 last updated modules, we could mention this in the docs, but anyone can check the code.
I'm not sure about another button/link. I think it would ruin the clean look of the featured modules, and there's already the menu at the top.

[2020-10-05 13:41] #227 closed

[2020-10-05 19:36] #244 closed

[2020-10-06 00:13] ebebbington commented on #275
FYI GH seem quite inconsistent with this... whilst they aren't a new paragraph in README's, they are in issues

[2020-10-06 04:05] srackham commented on #275
@ebebbington Yes, GH is inconsistent, but they [admitted that this behaviour was a mistake back in 2014](https://about.gitlab.com/blog/2014/02/21/markdown-newline-behaviour/). The point is that the behaviour does not conform to the [Markdown specification](https://daringfireball.net/projects/markdown/syntax#p).

[2020-10-06 04:09] t8 commented on #275
Hey @srackham! So sorry for the late reply to this.

I see your point on the opening lines of the `drake` module README. This is likely something that needs to be fixed with the markdown formatter we currently used.

CC @martonlederer

[2020-10-06 05:40] martonlederer commented on #275
Yeah sadly we can't really fix that

[2020-10-07 09:24] ravimashru opened #289 "Label issues that are relevant for Hacktoberfest"
It would be cool to have issues that can be solved during the hackathon on 23 October labeled with "hacktoberfest" so that they are easy to discover.

//cc @michael-spengler

[2020-10-07 14:53] t8 commented on #289
Great idea @ravimashru! We'll be sure to organize some of these by then.

[2020-10-07 14:58] t8 commented on #287
I like this idea. I would prefer not to have /x (just to avoid confusion between x.nest.land and nest.land/x) *unless* we can get something working like how deno.land/x does it...

Though, I think @maximousblk has looked into this before, and it may be more effort than I think.

Regardless, @martonlederer's idea of a redirect from the current references would be absolutely critical.

[2020-10-07 15:00] t8 commented on #259
To preserve minimalism, it may be best to leave that page as is. We could consider adding information about the mechanism behind it to the docs, but I doubt people would look in the docs for that type of information...

[2020-10-07 15:00] #259 closed

[2020-10-07 15:01] martonlederer commented on #287
It can be done with cloudflare workers. We should talk about this too in our meeting

[2020-10-07 17:57] maximousblk commented on #287
it can also be done with vercel functions. I couldn't implement it in a simple way earlier because the URLs for the raw and web versions were way different. It won't take much effort if the routes work the same way on the web and in deno

what we have now:
- URL for web: `https://nest.land/package/eggs/files/mod.ts`
- URL for deno: `https://x.nest.land/eggs@0.2.3/mod.ts`
note:
the website is clien

[2020-10-09 22:37] #249 closed

[2020-10-15 03:17] Maxvien commented on #287
**Use the term "module" instead of "library" or "package".**

For clarity and consistency avoid the terms "library" and "package". Instead use "module" to refer to a single JS or TS file and also to refer to a directory of TS/JS code.

https://deno.land/manual@v1.4.6/contributing/style_guide#use-the-term-quotmodulequot-instead-of-quotlibraryquot-or-quotpackagequot

[2020-10-15 22:02] nhrones opened #295 "Better UX please"
**Is your feature request related to a problem? If so, please describe.**
When a user clicks a module, she is redirected.  When using the back button to return to the main page, she is always taken to the top of the main page.  This is very frustrating.

**Describe the solution you'd like**
Right clicking on a module should show a context menu that would allow  an 'Open in new tab' option.
This wo

[2020-10-16 02:49] t8 commented on #287
Hi @Maxvien! Thanks for the input.

This was our original plan for the system, however, we encountered some technical issues with that. Because our API is completely separate from the site, we had to put `x` on its own subdomain.

I wouldn't be against investigating a solution to allow for the `/x` and `/std` routes on Nest.land, but I personally do not know of a way around this issue. Note: We'd

[2020-10-16 11:20] michael-spengler opened #296 "[FEATURE]: Consider adding a security rating based on fosstars on page for each third party module"
This might be helpful:
https://github.com/SAP/fosstars-rating-core

[2020-10-16 13:07] t8 commented on #295
Hi @nhrones! Thanks for the feedback.

If I'm understanding correctly, you'd like to see:

1. A "scroll" rememberer that can save your last scroll position when navigating back and forth from the modules gallery
2. An anchor element on the gallery cards so you can right click and see "open in a new tab"

Let me know if I got this correct. These would both be great hacktoberfest issues!

[2020-10-17 12:46] nhrones commented on #295
Yes! You are correct.  There are not that many elements in your database
now, but eventually there could be tens of thousands.
I love the tech-base this service is built on, but the UX is just too
frustrating to use.  I'd also like to see some basic filtering and search
features.
I'm a retired programmer with lots of free time. Let me know how I can help.

On Fri, Oct 16, 2020 at 9:07 AM Tate Bere

[2020-10-21 18:37] michael-spengler opened #297 "[Feature] Would it be cool to provide an Arweave Keyfile Based Login additionally?"
see screenshot

![Screen Shot 2020-10-21 at 8 35 38 PM](https://user-images.githubusercontent.com/43786652/96767762-3bfbf400-13dd-11eb-923b-704dcae457e0.png)

[2020-10-21 20:00] cknight opened #298 "Linking to README doesn't display README"
My module's primary [README](https://nest.land/package/optic) has links to other README files in the same repo, for example a link to [this other README](https://nest.land/package/optic/files/streams/fileStream/README.md).  However when you click on the other README link this other README isn't displayed.  This is using Chrome 85 on Linux.

The following errors appear in the console:
[code]

[2020-10-21 20:21] cknight opened #299 "404 on relative module link (missing module name in link)"
[This section](https://nest.land/package/optic#optic-formatters-overview) of my README contains a relative link to another README in my repo (in `See also the complete
documentation on formatters.`).  Clicking on this link yields a 404.  This link works fine in GitHub.

The link used is `https://nest.land/package/formatters/README.md`, but is missing my module name.  The correct link is `https://n

[2020-10-24 11:36] michael-spengler opened #301 "Shall there be a "Forgot Password Workflow"?"
This would be obsolete if you go for https://github.com/nestdotland/nest.land/issues/297.

[2020-10-25 02:56] jasonappah commented on #295
I might be wrong, but according to [this StackOverflow answer](https://stackoverflow.com/a/51057029/5272190), we should just be able to wrap the content inside of the `<router-link>` component in an `<a>` tag. I can try this out and make a PR.

[2020-10-25 03:46] t8 commented on #295
That would be awesome. Thanks, @jasonappah!

[2020-10-26 22:03] jasonappah commented on #287
If I'm understanding this correctly, we should be able to get away with setting up routes in the `vercel.json` file. See [here](https://vercel.com/docs/configuration#routes) for more info.

Basically at the root of the repo we would create the `vercel.json` file, and add something like this:

[code]

[2020-10-27 03:53] maximousblk commented on #287
yes we can set the routes in the `vercel.json` file but that won't let us dynamically serve the website or raw module.

[2020-10-30 02:15] t8 commented on #295
Oops, we still need a "scroll position rememberer."

[2020-11-28 22:50] Yamboy1 opened #304 "LICENSE file not loading after refreshing the page."
I came across a bug earlier today in which, after navigating to a LICENSE file in nest.land package, it fails to load after refreshing the page. I found this error in the console:
![image](https://user-images.githubusercontent.com/37413895/100527516-077b2380-3238-11eb-91a2-fedb571439bc.png)
Here's a screencast showing how to reproduce the issue:
https://drive.google.com/file/d/1oQCk6nRBlWQgXhukrWX

[2021-01-19 07:24] BubbleM opened #307 "moudle publish sucess，unable to access"
https://nest.land/package/umajs_deno

![image](https://user-images.githubusercontent.com/15670955/105001077-280e6f80-5a6a-11eb-8c13-057367f6ad9e.png)

[2021-01-19 10:05] maximousblk commented on #307
context: [api/package/umajs_deno](https://x.nest.land/api/package/umajs_deno)

was `1.0.0` published after `2.0.0`?

[2021-01-19 10:07] oganexon commented on #307
Looks like it
https://github.com/nestdotland/nest.land/discussions/306

[2021-01-19 11:03] BubbleM commented on #307
yes ，When I first released it, I mistakenly released 2.0.0
Is there any way to fix it or change the package name

[2021-01-19 11:37] maximousblk commented on #307
there's no way to change the package name. you'll have to publish it with a new name.

[2021-01-19 12:12] #289 closed

[2021-01-19 12:16] maximousblk commented on #304
looks like same as #298

[2021-01-19 12:16] #304 closed

[2021-01-19 12:20] maximousblk commented on #307
@BubbleM try it now on https://nest-land-git-fix-607.nestdotland.vercel.app

[2021-01-19 13:12] BubbleM commented on #307
ok thx

[2021-01-19 13:28] #307 closed

[2021-06-04 09:06] halvardssm commented on #195
Hi! Just wondering if it is possible to change my package url? I much rather have `https://nest.land/package/nessie` than `https://nest.land/package/Nessie` 😄

[2021-06-04 14:53] maximousblk commented on #195
Unfortunately it's not possible to change the package url. When working on the [rewrite](https://github.com/nestdotland/roadmap/issues), we'll keep this issue in mind and rewrite all capitalizations to the normalized version.

[2021-06-04 14:53] #195 closed

[2021-06-15 13:49] moncefplastin07 opened #317 "api routes doesn't work in localhost ?"
i try to serve nest.land on my localhost Everything is working fine but when I try to extract the bulbul I get the following error ``Error: Request failed with status code 404
``

![image](https://user-images.githubusercontent.com/26319214/122063832-86a50300-cde8-11eb-9628-6d220d49eab9.png)

[2021-06-15 14:14] maximousblk commented on #317
you need to use the vercel cli: https://vercel.com/docs/cli

- fork the repo
- connect the fork to your vercel account
- clone the fork (and and run `npm i`)
- install the vercel cli (`npm i -g vercel`)
- run `vc` or `vercel` in the repo
- run `vc dev` or `vercel dev` in the repo

[2021-06-15 14:44] #317 closed

[2021-08-04 14:16] TillaTheHun0 opened #319 "Bug: importing from x.nest.land results in empty response"
Thanks for nest.land! It's been a boon for our software delivery.

## Problem

On a few occasions, after publishing a new module version to `nest.land`, i've tried to import a module and `x.nest.land` seems to return an empty response. This causes an error when I trying to access, say, the `default` export.

`deps.js`
[code]

the error produced is what you would expect from an empty response:

Tho

[2021-08-04 20:04] maximousblk commented on #319
This is a known issue.

When you publish a module, it is uploaded to `x.nest.land` which then uploads the files to arweave. But after the files are the files are uploaded, it takes some time to "confirm" the transaction. depending on the (arweave) network traffic, it can take a few minutes to become "readable". The api, website and cdn are not aware of this waiting period so they just assume that

[2021-08-05 10:26] #319 closed

[2021-08-06 13:12] TillaTheHun0 commented on #319
Thanks for the explanation! This makes sense. In the meantime, consumers may need to add a bit to their publish CIs, after pushing the code to nest, that polls the new `x.nest.land` url, until a `302` is received.

Thanks again.

[2021-09-14 02:08] kitsonk opened #320 "The deno-import-intellisense.json is problematic"
The current `deno-import-intellisense.json` is problematic:

[code]

Which causes code completions in the editor to not work properly.  There are a few issues:

- The custom regex for the module (`[a-zA-Z0-9_]*`) does not require any length.  This means that `https://x.next.land/@` becomes a valid match and effectively makes the module variable optional.  Consider using `[a-zA-Z0-9_]+` so the modu

[2021-11-07 10:32] nnmrts opened #323 "Make readme checking case and extension-insensitive"
**Is your feature request related to a problem? If so, please describe.**
My (and many other projects) don't have a readme file in their repo that's exactly called `README.md`. Currently the readme filename has to be exactly this, otherwise the module page will say "No README found for this module". A lot of projects have a `readme.txt` or `README.txt`, or just `README`. I've also seen `readme.md`

[2021-11-28 13:01] GJZwiers opened #325 "Version tags are published as new modules on nest.land"
My module's tags are being uploaded to nest.land as entirely new packages for some reason. This is my release pipeline:

[code]

[2022-03-01 13:05] selfrefactor opened #329 "Issue with publishing a library"
I followed the official documentation of publishing a library to Nest.land

My issue is that this works:

[code]

while this code:

[code]

fails every time with:

[code]

Another thing to note is that the error is different every time i.e. this time it is missing `src/where`, while next time it will be `src/compose`.

I am not using Deno, but I have opened issue in my library(Rambda) to improve D

[2022-03-01 16:06] maximousblk commented on #329
Hey @selfrefactor,

It looks like you are missing file extensions in your imports. Deno doesn't support importing without file extensions

[code]

and i think it's different every time because deno is downloading the files in different order every time.

[2022-03-01 16:15] selfrefactor commented on #329
thanks a lot. I will try with your suggestion and if successful, I'll close the issue.

[2022-03-01 16:41] selfrefactor commented on #329
I am almost sure that it will work, so I am closing the issue; thanks for the fast reply.

[2022-03-01 16:41] #329 closed

[2022-03-17 02:39] UltiRequiem commented on #323
Please!

[2022-03-18 22:08] UltiRequiem opened #332 "Project status"
Is this project still maintained?